@model MyPracticeWebSite.ViewModels.RegisterViewModel
@using Microsoft.AspNetCore.Identity
@inject RoleManager<IdentityRole> roleManager
 
<form asp-action="Register" asp-controller="Auth" method="post" class="form-horizontal">
    <h4>Registration</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="UserName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Role" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="Role" class="form-control">
                @foreach (var role in roleManager.Roles.Select(r => new { Id = r.Id, Name = r.Name }))
                {
                    <option value="@role.Name">
                        @role.Name
                    </option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Technology" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Technology" class="form-control" />
            <span asp-validation-for="Technology" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="BirthDate" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="BirthDate" type="date" class="form-control" />
            <span asp-validation-for="BirthDate" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</form>


